#maintenance {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

#makeithappen {
	margin: 1% 0 0 0;
}

#i_sys_root {
	margin: 0 0 1% 0;
}


.conv_ui {
	
	border: 1px solid black;
}

#inp {
	margin-top 3%;
}

#msg {
	margin: 3% 0 0 0;
}

#out {
	color: red;
	font-size: 15;
}

.up_space5 {
	margin-top: 5%
}

.up_space1 {
	margin-top: 1%
}

#arinc_inp {
	width: 35%;
}